@import "../vendor/modular-scale/modular-scale"

.card
	margin-bottom: $base-line-height
	border-radius: 5px
	border: 1px solid $grey
	&:hover
		box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .2)




@media #{breakpoint(large)}
	.card
		margin-bottom: $base-line-height*2