@import "vendor/modular-scale/modular-scale"
@import "settings"

/* /////////////////////////////////////////////////////// */
/* ////////////////  LAYOUT                   //////////// */
/* /////////////////////////////////////////////////////// */


// 1. General
// 2. Header
// 3. Filter


/* /////////////////////////////////////////////////////// */
/* ////////////////  1.GENERAL                //////////// */
/* /////////////////////////////////////////////////////// */

body
	background-color: $grey-lighter

.wrapper
	max-width: 1200px
	margin: 0 auto
	background-color: $white





/* /////////////////////////////////////////////////////// */
/* ////////////////  2.HEADER                 //////////// */
/* /////////////////////////////////////////////////////// */

header
	text-align: center
	padding-top: $base-line-height
	& h1
		margin: 0





/* /////////////////////////////////////////////////////// */
/* ////////////////  3.FILTER                 //////////// */
/* /////////////////////////////////////////////////////// */

.content-filterCatalog
	border-top: 1px solid $grey
	border-bottom: 1px solid $grey
	& h2
		margin: 0

.product-filters 
	padding: $space-inset-small

	h2
		margin: $space-stack-small
		color: $color1
	
	label 
		font-size: ms(2)

	.menu.nested 
		margin-left: 0 
		margin-top: $base-line-height/3
		margin-bottom: $base-line-height/3

	.menu > li > a 
		padding: 0
		margin: 0
		color: $text-color
		text-transform: uppercase
		font-size: ms(2)
		font-weight: 600

	.is-accordion-submenu-parent > a::after 
		border-color: $medium-gray transparent transparent

.product-filters-header 
	padding-top: $base-line-height/2
	font-size: ms(6)
	color: $color1
	text-transform: uppercase

.product-filters-tab 
	padding: $space-stack-small
	border-top: 1px solid $light-gray

.product-filters-tab:last-child 
  border-bottom: 1px solid $light-gray

.mobile-product-filters 
  border-bottom: 1px solid $light-gray




@media #{breakpoint(medium)}
	.content-filterCatalog
		padding: $space-inset-large





/* /////////////////////////////////////////////////////// */
/* ////////////////  3.CATALOG                //////////// */
/* /////////////////////////////////////////////////////// */

.productCatalog
	padding: $space-stack-small

	.productItemHeader
		min-height: $base-line-height*5
		padding: $space-stack-medium
		display: flex
		
		.productTitle
			display: flex
			width: 60%
			padding-left: $base-line-height/2
			font-size: ms(2)

		.productPrice
			display: flex
			width: 40%
			text-align: right
			vertical-align: top
			color: $color1
			font-size: ms(6)
			span
				display: block
				width: 100%
				padding-right: $base-line-height/2

	.productItemVisual
		img
			width: 100%


@media #{breakpoint(large)}
	.productCatalog
		padding: $space-stack-xlarge

