@import "vendor/modular-scale/modular-scale"
@import "settings"



/* /////////////////////////////////////////////////////// */
/* ////////////////  TYPOGRAPHY               //////////// */
/* /////////////////////////////////////////////////////// */

body
	color: $text-color
	font-size: ms(4)
	font-family: $body-font
	line-height: $base-line-height

h1,
h2,
h3,
h4,
h5,
h6
	font-family: 'arial', 'helvetica', sans serif