<div class="wrapper">

  <!-- Header début -->
  <header class="row column">
    <h1>Fête du vin 2017</h1>
    <p>nombre d'article</p>
  </header>
  <!-- Header fin -->

  <div class="row">
    
    <!-- DEBUT FILTRE CATEGORIES -->
    <div class="columns small-12 large-3">
      <div class="product-filters">
        <ul class="mobile-product-filters vertical menu show-for-small-only" data-accordion-menu>
         <li>
           <a href="#"><h2>Filtrer</h2></a>   
           <ul class="vertical menu" data-accordion-menu>
            <li class="product-filters-tab">
              <a href="#">Robe du vin</a>
              <ul class="categories-menu menu vertical nested is-active">
                 <li><input class="category-clear-selection" id="color-checkbox1" type="checkbox"><label for="color-checkbox1">Rouge</label></li>
                 <li><input class="category-clear-selection" id="color-checkbox2" type="checkbox"><label for="color-checkbox2">Rosé</label></li>
                 <li><input class="category-clear-selection" id="color-checkbox3" type="checkbox"><label for="color-checkbox3">Blanc</label></li>
                 <li><input class="category-clear-selection" id="color-checkbox4" type="checkbox"><label for="color-checkbox4">Effervescent</label></li>
               </ul>
            </li>
            <li class="product-filters-tab">
              <a href="#">Catégorie</a>
              <ul class="categories-menu menu vertical nested">
                <li><input id="price_range-checkbox1" type="checkbox"><label for="price_range-checkbox1">Prix doux</label></li>
                <li><input id="price_range-checkbox2" type="checkbox"><label for="price_range-checkbox2">Belles découvertes</label></li>
                <li><input id="price_range-checkbox3" type="checkbox"><label for="price_range-checkbox3">Valeurs sûres</label></li>
                <li><input id="price_range-checkbox4" type="checkbox"><label for="price_range-checkbox4">Vins d'exceptions</label></li>
              </ul>
            </li>
            <li class="product-filters-tab">
              <a href="#">Région</a>
              <ul class="categories-menu menu vertical nested">
                <li><input id="region-checkbox1" type="checkbox"><label for="region-checkbox1">Alsace</label></li>
                <li><input id="region-checkbox2" type="checkbox"><label for="region-checkbox2">Beaujolais</label></li>
                <li><input id="region-checkbox3" type="checkbox"><label for="region-checkbox3">Bordeaux</label></li>
                <li><input id="region-checkbox4" type="checkbox"><label for="region-checkbox4">Bourgogne</label></li>
              </ul>
            </li>
           </ul>
         </li>
       </ul>
       
       <h1 class="product-filters-header hide-for-small-only">Filtrer</h1>
       <ul class="vertical menu hide-for-small-only" data-accordion-menu>
          <li class="product-filters-tab">
            <a href="#">Robe du vin</a>
            <ul class="categories-menu menu vertical nested is-active">
               <li><input class="category-clear-selection" id="color-checkbox1" type="checkbox"><label for="color-checkbox1">Rouge</label></li>
               <li><input class="category-clear-selection" id="color-checkbox2" type="checkbox"><label for="color-checkbox2">Rosé</label></li>
               <li><input class="category-clear-selection" id="color-checkbox3" type="checkbox"><label for="color-checkbox3">Blanc</label></li>
               <li><input class="category-clear-selection" id="color-checkbox4" type="checkbox"><label for="color-checkbox4">Effervescent</label></li>
             </ul>
          </li>
          <li class="product-filters-tab">
            <a href="#">Catégorie</a>
            <ul class="categories-menu menu vertical nested">
              <li><input id="price_range-checkbox1" type="checkbox"><label for="price_range-checkbox1">Prix doux</label></li>
              <li><input id="price_range-checkbox2" type="checkbox"><label for="price_range-checkbox2">Belles découvertes</label></li>
              <li><input id="price_range-checkbox3" type="checkbox"><label for="price_range-checkbox3">Valeurs sûres</label></li>
              <li><input id="price_range-checkbox4" type="checkbox"><label for="price_range-checkbox4">Vins d'exceptions</label></li>
            </ul>
          </li>
          <li class="product-filters-tab">
            <a href="#">Région</a>
            <ul class="categories-menu menu vertical nested">
              <li><input id="region-checkbox1" type="checkbox"><label for="region-checkbox1">Alsace</label></li>
              <li><input id="region-checkbox2" type="checkbox"><label for="region-checkbox2">Beaujolais</label></li>
              <li><input id="region-checkbox3" type="checkbox"><label for="region-checkbox3">Bordeaux</label></li>
              <li><input id="region-checkbox4" type="checkbox"><label for="region-checkbox4">Bourgogne</label></li>
            </ul>
          </li>
        </ul>
      </div>    
    </div>
    <!-- FIN FILTRE CATEGORIES -->

    <!-- DEBUT CATALOGUE -->
    <div class="small-12 large-9 columns">
      <div class="productCatalog">
        <div id="productItemCatalog" class="row">
          <div class="small-12 medium-6 large-4 columns">
            <div class="card">
              <div class="productItemHeader">
                <span class="productTitle">[[domain]] [[appellation]] [[millesime]]</span>
                <div class="productPrice"><span>[[price_vp_bundle]] €</span></div>
              </div>
              <div class="productItemVisual">
                <img src="https://placehold.it/180x180" alt="">
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div>
    <!-- FIN CATALOGUE -->
  </div>
</div>