<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Apside</title>
    <link rel="stylesheet" href="{{root}}css/app.css">
    <link rel="stylesheet" href="{{root}}css/style.css">
  </head>
  <body>

    {{> body}}

    <script src="{{root}}js/app.js"></script>
    <script src="{{root}}js/jquery.miranda.min.js"></script>

    <script>
    $.getJSON("js/fdv2017.json", function (json) {
    dataList = json; 
    
    $("#productItemCatalog").mirandajs(dataList);

    
    });
    </script>
  </body>
</html>